@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }

  
  
  .card {
    /* background: #191c29; */
    background: #0000009c;
    margin-bottom: 60px;
/* backdrop-filter: blur(60px); */
    width: var(--card-width);
    /* height: var(--card-height); */
    /* padding-top: 3px; */

    /* padding-bottom: 3px; */
    /* padding-top: 3px; */
    /* padding-top: 3px; */
    /* position: relative; */
    border-radius: 6px;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;

    /* align-items: stretch; */
    
    text-align: start;
    display: flex;
    
    /* font-size: 1.5em; */
    
    font-family: cursive;
  }
 /* not working */ 
  .card:hover{
    color: rgb(3, 50, 71);
    transition: color 1s;
  }
/*not working*/
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  .card h3,h4,h5{
    font-family: cursive;
    font-size: 1em ;
    color:rgb(78, 134, 160);;
    

  }
    .card h3 span,h4 span,h5 span{
        font-family: cursive;
        text-align: justify !important;
        color:rgb(88, 199, 250);;

    }  
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      /* animation: spin 2.5s linear infinite; */
  }
  
  .card-image{
    /* height: var(--card-height/2); */
    border-radius: 6px;

    /* width: var(--card-width); */
  }
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    /* animation: spin 2.5s linear infinite; */
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;

    }
    100% {
      --rotate: 360deg;
    }
  }
 